Repository johnbillion/query-monitor, pull requests merged in 2022-09, with the labels that each got.

#689 Bring the dispatcher priority back to 9
  dispatchers/Html.php
Labels: dispatcher:html

#693 Use unit symbol for seconds
  output/html/db_queries.php
  output/html/overview.php
Labels: type:enhancement, dispatcher:html

#599 Log `switch_to_blog()` and `restore_current_blog()` calls
  collectors/multisite.php
  output/html/multisite.php
Labels: type:enhancement
